.navigation{
    padding-top: 10px;
    display: flex;
}
.custom-counter {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding-right: 0%;
    list-style-type: none;
    font-size: small;
    width: 30vw;
    position: relative;
    left: 55%;
    color: rgb(143, 143, 140);
    cursor: pointer;
}

.custom-counter li {
    counter-increment: step-counter;
}

.custom-counter li::before{
    content: "0" counter(step-counter) ".";
    color: yellow;
    margin-right: 3px;
    font-size: small;
}

.custom-counter li:hover {
    color: yellow;
}

.btn{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-size: smaller;
    color: yellow;
    left: 58%;
    top: 3px;
    
}

